main {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.section-nav {
    width: 25%;
    height: inherit;
    background-color: #707172;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-hero {
    width: 75%;
    height: inherit;
    /* background-color: #c49617; */
     
}

.section-titres {
    height: 30%;
    width: 100%;
    background-color: #f07d25;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    gap: 20px;
}

button {
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
    color: #f07d25;
    font-size: 21px;
    font-weight: 700;
}

.Titre-services {
    height: auto;
    width: 100%;
    background-color: #62a41c;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
    margin-top: 20px;

}

.section-services {
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.Box-1, .Box-2, .Box-3 {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7cfd55;
}

